.grid-container {
  display: grid;
  grid-template-columns: auto auto ;
  background-color: #ffffff;
  padding: 10px;
}
.grid-header{
  background-color: rgba(143, 143, 143, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}